body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(34, 225, 53);
}
h3 {
    color: rgb(50,100,20);
}
img{
    width: 250px;
    align-self: center;
}
figure{
    margin: auto;
    flex-flow: column;
    display: flex;
}
figcaption{
    text-align: center;
}