body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larges;
    color: rgba(4, 169, 246, 0.654);
    text-decoration: solid;
    text-transform: capitalize;
}
h3 {
    color: rgb(50,100,20);
}
img{
    width: 250px;
    align-self: center; 
    border: 5px dashed salmon;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 20px #ccc;
}
figure{
    margin: auto;
    flex-flow: column;
    display: flex;
}
figcaption{
    text-align: center;
}
button{
    cursor: pointer;
    color: rgb(146, 224, 20)
}
pic{
    text-align: center;
}
item{
    color: red;
}
desc{
    font-style: italic;
}